#name {
    font-family: 'Sedgwick Ave Display', cursive;
    padding-left: 10px;
    text-decoration: none;
    color: whitesmoke;
}

#name:hover {
    text-shadow: 2px 2px 8px white;
}

.front-page {
    background-color: #707070;
}

.text-shadow {
    text-shadow: 2px 2px 8px white;
}

.id-name:hover {
    text-shadow: 2px 2px 10px white;
    text-decoration: underline;
}

.title {
    font-family: 'Sedgwick Ave Display', cursive;
}

.sub-title {
    font-family: 'Audiowide', cursive;
}

.link-button {
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(gray, blue);
}

.link-button:hover {
    text-shadow: 2px 2px 8px white;
}

hr {
    border: dotted grey 6px;
    border-bottom: none;
    width: 8%;
    margin: 90px auto 90px auto;
}

.logo {
    font-weight: 900;
}

header {
    font-family: 'Audiowide', cursive;
    border-bottom: 1px solid white;
}

.oj {
    background-color: gray;
}

.oj:hover {
    text-shadow: 2px 2px 8px white;
}

.rocket {
    text-decoration: none;
}

@media (min-width: 1000px) {
    .about-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .half-width {
        width: 50%;
        margin: 5%;
    }
}

@media (max-width: 1000px) {
    .about-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}